/* stylelint-disable selector-class-pattern */

pre {
  line-height: 1.2;
}

code {
  font-family: 'fira code', monospace;
  font-size: 0.8rem;
  font-feature-settings: 'calt';
  font-variant-ligatures: contextual;
  color: var(--react-blue);
}

.hljs-keyword {
  font-weight: 500;
  color: var(--light);
}

.hljs-built_in {
  font-weight: 200;
  color: var(--secondary-orange);
}

.hljs-literal {
  color: var(--secondary-orange);
}

.hljs-symbol {
  /* color: #58e55a; */
  color: var(--secondary-orange);
}

.hljs-comment {
  font-weight: 100;
  color: var(--dark-blue);
}

.hljs-string,
.hljs-number {
  color: var(--light-blue);
}

.hljs-title {
  font-weight: 500;
  color: var(var(--secondary-orange));
}

.hljs-attribute,
.hljs-selector-tag,
.hljs-doctag,
.hljs-name,
.hljs-bullet,
.hljs-code,
.hljs-addition,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-type,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion,
.hljs-section,
.hljs-function,
.hljs-meta .hljs-keyword,
.hljs-meta,
.hljs-subst {
  color: var(--grey);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
